body {
    background-image: url('./../images/bg_img.jpg');
}

.container {
    margin-top: 50px;
    background-color: white;
    text-align: center;
}

.col {
    border-style: solid;
    border-width: 1px;
}

.game {
    padding-top: 50px;
    background-color: rgba(131, 136, 189, 1);
}

.gHeader {
    justify-content: center;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: black;
    background-color: rgba(90, 80, 143, 1);
    color: rgba(104, 186, 174, 1);
}

.gLeft {
    padding-top: 40px;
}

.gText {
    font-size: 35px;
}

.gBlank {
    letter-spacing: 1px;
}

.pink {
    background-color: rgba(239, 119, 164, 1);
}

.yellow {
    background-color: rgba(251, 227, 89, 1);
}

.blue {
    background-color: rgba(104, 186, 174, 1);
}

.purple
{
    background-color: rgba(131, 136, 189, 1);
    color: rgba(104, 186, 174, 1);
}

.outline {
    font-family: 'Permanent Marker', cursive;
        color: white;
        font-size: 40px;
        text-shadow: -1px 1px 0 #000,
                      1px 1px 0 #000,
                     1px -1px 0 #000,
                    -1px -1px 0 #000;

}